<br /><br /><br />
<!-- ======= About Section ======= -->

<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 d-flex justify-content-center video-box align-items-stretch">
                <a href="https://www.youtube.com/watch?v=h7RaNPM60BE" class="venobox play-btn mb-4" data-vbtype="video"
                    data-autoplay="true"></a>
            </div>
            <div
                class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3>We are Kiwi Exchange, consistently rated the best and most secure stock & cryptocurrency exchange</h3>
                <p>Kiwi Exchange gives you the power to hit the ground running, no matter your experience level.
                    An intuitive experience from the start.
                    From day one, we designed and built a streamlined bitcoin exchange for newcomers and experts alike.
                    Make easy deposits and withdrawals, measure your portfolio's performance and keep track of all of
                    your digital assets in one convenient place.</p>
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-fingerprint"></i></div>
                    <h4 class="title"><a href="">Trade</a></h4>
                    <p class="description">Buy and sell Bitcoins and Stocks in the simplest way</p>
                </div>
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-gift"></i></div>
                    <h4 class="title"><a href="">Exchange</a></h4>
                    <p class="description">We put the power in your hands to buy, sell and trade digital currency</p>
                </div>
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-atom"></i></div>
                    <h4 class="title"><a href="">24/7 Expert Support</a></h4>
                    <p class="description">Serving global users with 24/7 exchange services, multilingual support,
                        strong community backup, and professional customer service.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Services</h2>
            <p>With a proven track record and a mature approach to the industry, we provide reliable trading of stocks &
                cryptocurrencie</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="icon-box">
                    <div class="icon"><i class="las la-basketball-ball" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">Trade</a></h4>
                    <p class="description">
                        Buy and sell Bitcoins and Stocks in the simplest way</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon-box">
                    <div class="icon"><i class="las la-book" style="color: #e9bf06;"></i></div>
                    <h4 class="title"><a href="">Exchange</a></h4>
                    <p class="description">We put the power in your hands to buy, sell and trade digital currency</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
                <div class="icon-box">
                    <div class="icon"><i class="las la-file-alt" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">24/7 Expert Support</a></h4>
                    <p class="description">Got a problem? No worries. Our expert team is available around the clock
                        through online support, emails and Requests.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
                <div class="icon-box">
                    <div class="icon"><i class="las la-tachometer-alt" style="color:#41cf2e;"></i></div>
                    <h4 class="title"><a href="">Secure & Stable</a></h4>
                    <p class="description">With top technical team, all-round security protection and our proprietary
                        high-speed matching engine, we guarantee stability under concurrency of thousands of orders,
                        each one of which will be in good hands.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-wow-delay="0.2s">
                <div class="icon-box">
                    <div class="icon"><i class="las la-globe-americas" style="color: #d6ff22;"></i></div>
                    <h4 class="title"><a href="">Professional & Compliant</a></h4>
                    <p class="description">Apart from our operation team with rich experience in blockchain and
                        financial industry, we have a 100% reserve guarantee</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-wow-delay="0.2s">
                <div class="icon-box">
                    <div class="icon"><i class="las la-clock" style="color: #4680ff;"></i></div>
                    <h4 class="title"><a href="">User-First</a></h4>
                    <p class="description">Serving global users with 24/7 exchange services, multilingual support,
                        strong community backup, and professional customer service.</p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Services Section -->



<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Team</h2>
            <p>
                The best team at your service, working every day to reach excellence</p>
        </div>

        <div class="row">

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="images/team/team-1.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://twitter.com/mdemena"><i class="icofont-twitter"></i></a>
                            <a href="https://www.facebook.com/mdemena"><i class="icofont-facebook"></i></a>
                            <a href="https://www.instagram.com/mdemena/"><i class="icofont-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/mdemena/"><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Marc de Mena</h4>
                        <span>Chief Executive Officer</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="images/team/team-3.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://twitter.com/esMktDigital"><i class="icofont-twitter"></i></a>
                            <a href="https://www.facebook.com/esMarketingDigital.es"><i
                                    class="icofont-facebook"></i></a>
                            <a href="https://www.instagram.com/esmarketingdigital/"><i
                                    class="icofont-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/chus-santana/"><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Jesús Santana</h4>
                        <span>Product Manager</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- End Team Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <p>We’re here to help and answer any question you might have. We look forward to hearing from you </p>
        </div>

        <div>
            <iframe style="border:0; width: 100%; height: 270px;"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2992.9111868868613!2d2.188111315874529!3d41.39773507926334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a2e4ddd5122f%3A0xfe5222819e3b6768!2sIronhack%20Barcelona%20Tech%20bootcamps!5e0!3m2!1ses!2ses!4v1593507237249!5m2!1ses!2ses"
                frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="icofont-google-map"></i>
                        <h4>Location:</h4>
                        <p> 24, Community rd,
                            Yaba, Lagos
                            Nigeria</p>
                    </div>

                    <div class="email">
                        <i class="icofont-envelope"></i>
                        <h4>Email:</h4>
                        <p>kiwilabsofficial@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="icofont-phone"></i>
                        <h4>Call:</h4>
                        <p>09061935203</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form action="/email" method="post" role="form" class="php-email-form">
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validate"></div>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validate"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                            data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required"
                            data-msg="Please write something for us" placeholder="Message"></textarea>
                        <div class="validate"></div>
                    </div>
                    <div class="mb-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>

            </div>

        </div>

    </div>
</section><!-- End Contact Section -->