<div class="container-fluid bg-gradient-light">
    <br><br>
    <!-- ======= Error Section ======= -->
    <section  class="d-flex align-items-center">

        <div class="container bg-light">
            <div class="row">
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1>Server Error!</h1>
                    <h2>There was an error on the server! Check the console!</h2>

                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img">
                    <img src="images/lost.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>



    </section><!-- End Error -->
</div>