<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>The Global Digital Coin Trade & Exchange</h1>
                <h2>Secure, Professional & User-First</h2>
                <div><a href="/auth/signup" class="btn-get-started scrollto">Start Trade</a></div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="images/hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->
<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
    <div class="container">
        <div class="text-center title">
            <h3>What we have achieved so far</h3>
            <p>
                217 MILLION EUROS RAISED AMONG THE MOST IMPORTANT INVESTORS IN THE WORLD</p>
        </div>

        <div class="row counters">
            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">217</span>
                <p>Million Euros</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">125.431</span>
                <p>Clients</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">12.463</span>
                <p>Hours Of Support</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">15</span>
                <p>Hard Workers</p>
            </div>
        </div>
    </div>
</section><!-- End Counts Section -->
<!-- ======= Market Section ======= -->
<section id="market" class="market">
    <div class="container">
        <div class="section-title">
            <h2>Markets</h2>
        </div>
        <section>

            <h3>Cryptocurrency</h3>

            <!-- cryptoWidget BEGIN -->
            {{> cryptoWidget this }}
            <!-- crypto Widget END-->

        </section>
        <br><br>
        <section>
            
            <h3>Market</h3>

            <!-- Market Widget BEGIN -->
            {{> marketWidget this }}
            <!-- Market Widget END-->

        </section>
        <br>
    </div>
</section><!-- End Market Section -->