<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Kiwi Exchange</title>
  <meta content="The Global Digital Coin Trade & Exchange" name="description">
  <meta
    content="money, trade, trading, exchange, stock, stocks, currency, currencies, crypto, cryptomoney, cryptocurrency "
    name="keywords">
  <meta content='http://www.tradexc.net/images/hero-img.png' property='og:image' />
  <!-- Favicons -->
  <link href="/images/favicon.png" rel="icon">
  <!--<link href="/images/apple-touch-icon.png" rel="apple-touch-icon">-->

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link href="/stylesheets/icofont.min.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.9.0/venobox.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css"
    rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/stylesheets/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <a href="/" class="logo mr-auto"><img src="images/favicon.png" alt="" class="img-fluid"> Kiwi Exchange</a>
      <nav id="nav-bar-menu" class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about#about">About</a></li>
          <li><a href="/about#services">Services</a></li>
          <li><a href="/about#team">Team</a></li>
          <li><a href="/about#contact">Contact</a></li>
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/auth/signup">Signup</a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->
  <main id="main">

    {{{body}}}

  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Kiwi Exchange </h3>
            <p>
              24, Community road <br>
              Yaba, Lagos<br>
              Nigeria <br><br>
              <strong>Phone:</strong> 09061935203<br>
              <strong>Email:</strong> kiwilabsofficial@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about#team">Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about#contact">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/about#services">Trade</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about#services">Exchange</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about#services">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about#services">Secure & Stable</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/auth/signup">SignUp</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>
              Follow us on our social networks if you want to get more updated information</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span><a href="/"> Kiwi Exchange</a></span></strong>
        <script>
          document.write(new Date().getFullYear());
        </script>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="">Kiwi labs</a> 
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.9.0/venobox.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="javascripts/main.js"></script>

  <script src="javascripts/script.js"></script>
</body>

</html>