<div class="container-fluid bg-light">
    <br><br>
    <!-- ======= 404 Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1>404 Error</h1>
                    <h2>This route does not exist on the app! Check if everything is ok!</h2>

                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img">
                    <img src="images/error404.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section><!-- End 404-->
</div>